*{
  margin: 0%;
  padding: 0%;
  color: rgb(20, 8, 8);
 
  box-sizing: border-box;
}
body{
  height: 100%;
  width: 100%;
}
.card{
  color: rgb(19, 14, 14);
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(162, 56, 56);
  margin: 25px;
  padding: 30px;
}