/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box1{
  width: 200px;
  height: 400px;
  background-color: lightblue;
}
.box2{
  width: 200px;
  height: 400px;
  background-color: rgb(6, 183, 242);
}
.box3{
  width: 200px;
  height: 400px;
  background-color: rgb(7, 40, 51);
}