*{
  margin: 0px;
  padding: 0px;
}
.body{
  height:100%;
  width:100%;
}
h1{
  color: rgb(14, 13, 13);
  font-size:100px;
  background-color: gainsboro;
  width: fit-content;
  margin: 20px;
  padding: 10px 80px;
  border-radius: 15px;
}
button{
  padding:10px 20px;
  margin:10px;
  border-radius: 5px;
}